[Desktop Entry]
Name=youtube2musiccollection
Comment=Save Youtube videos as beautifully tagged audio files to your offline or online music collection
Exec=./youtube2musiccollection.sh
Icon=./icons/logo/logo.png
Type=Application
#MimeType=text/html;text/xml;application/xhtml+xml;
#StartupWMClass=zen
Categories=Utility;
StartupNotify=true
Terminal=false
#X-MultipleArgs=false
Keywords=Internet;WWW;Youtube;Music;Navidrome;Subsonic;
Actions=new-instance;new-instance-cli;

[Desktop Action new-instance]
Name=Open a New Instance
Exec=./youtube2musiccollection.sh

[Desktop Action new-instance-cli]
Name=Open in Terminal (CLI mode)
Exec=./youtube2musiccollection.sh --help
